extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
    
        h1 Ethan Reno

        p Aspiring Full Stack JavaScript Developer

        .about-bio

        p This is not a good elevator pitch. It will sit here in this unpolished state until I muster the writing energy required to construct something professional and representative. That time is not now, apparently!

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 905-638-1294
          li epreno@live.ca
       
        a.btn-link(href='https://github.com/Ethan-Reno') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back