extends layout.pug

block content

  article.portfolio-intro
     
    h1 My Portfolio

    p A collection of projects built with web development skills that I acquired with Team Treehouse.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project, id in projects
        .cell
          a(href=`/project/${id}`)
            img.thumbnail(src=`/static/${project.image_urls[0]}`, alt='')
            h5 #{project.project_name}